<a href="https://colab.research.google.com/github/nbacomdados/nbacomdados/blob/main/notebooks/leitura_jogos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [145]:
import pandas as pd
import requests

In [146]:
GameID = '0042000217' # Jogo 7 Nets X Bucks
# GameID = '0042000402' # Jogo 2 Suns x Bucks

In [147]:
rangeType = '1'
startPeriod = '1'
endPeriod = '4'
startRange = '0'
endRange = '31800'

In [148]:
url_base = f'https://stats.nba.com/stats/boxscoretraditionalv3?GameID={GameID}&LeagueID=00&'
url_stats = f'{url_base}endPeriod={endPeriod}&endRange={endRange}&rangeType={rangeType}&startPeriod={startPeriod}&startRange={startRange}'

In [149]:
headers: dict = {'Accept': '*/*',
                'Accept-Encoding': 'gzip, deflate, br',
                'Accept-Language': 'pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7',
                'Connection': 'keep-alive',
                'Host': 'stats.nba.com',
                'Origin': 'https://www.nba.com',
                'Referer': 'https://www.nba.com/',
                'sec-ch-ua': '" Not;A Brand";v="99", "Google Chrome";v="91", "Chromium";v="91"',
                'sec-ch-ua-mobile': '?0',
                'Sec-Fetch-Dest': 'empty',
                'Sec-Fetch-Mode': 'cors',
                'Sec-Fetch-Site': 'same-site',
                'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'}

In [150]:
with requests.Session() as sessao:
        resposta: requests.models.Response = sessao.get(url_stats, headers=headers)

In [151]:
x = resposta.content

In [152]:
import json

In [153]:
y = json.loads(x)

In [154]:
y.keys()

dict_keys(['meta', 'boxScoreTraditional'])

In [155]:
y['meta'].keys()

dict_keys(['version', 'request', 'time'])

In [156]:
y['boxScoreTraditional'].keys()

dict_keys(['gameId', 'awayTeamId', 'homeTeamId', 'homeTeam', 'awayTeam'])

In [157]:
y['boxScoreTraditional']['homeTeam'].keys()

dict_keys(['teamId', 'teamCity', 'teamName', 'teamTricode', 'teamSlug', 'players', 'statistics', 'starters', 'bench'])

In [165]:
pd.json_normalize(y['boxScoreTraditional']['homeTeam']['statistics'])

  minutes  fieldGoalsMade  ...  points  plusMinusPoints
0  240:00              38  ...     109              0.0

[1 rows x 20 columns]

In [161]:
pd.json_normalize(y['boxScoreTraditional']['homeTeam']['players'])

   personId firstName  ... statistics.points statistics.plusMinusPoints
0    201142     Kevin  ...                48                        0.0
1    203925       Joe  ...                10                        3.0
2    201933     Blake  ...                17                       -6.0
3   1628971     Bruce  ...                12                       -3.0
4    201935     James  ...                22                        0.0
5   1629013    Landry  ...                 0                       -2.0
6    201145      Jeff  ...                 0                        8.0
7   1629651   Nicolas  ...                 0                        0.0

[8 rows x 28 columns]

In [170]:
pd.json_normalize(y['boxScoreTraditional']['awayTeam']['statistics']).T

                              0
minutes                  240:00
fieldGoalsMade               41
fieldGoalsAttempted          92
fieldGoalsPercentage      0.446
threePointersMade            15
threePointersAttempted       35
threePointersPercentage   0.429
freeThrowsMade               12
freeThrowsAttempted          19
freeThrowsPercentage      0.632
reboundsOffensive            18
reboundsDefensive            24
reboundsTotal                42
assists                      20
steals                        9
blocks                        6
turnovers                     6
foulsPersonal                18
points                      109
plusMinusPoints               0

In [162]:
pd.json_normalize(y['boxScoreTraditional']['awayTeam']['players'])

   personId firstName  ... statistics.points statistics.plusMinusPoints
0    200782      P.J.  ...                11                       -2.0
1    203507   Giannis  ...                38                        2.0
2    201572     Brook  ...                17                       -2.0
3    203114     Khris  ...                21                       -1.0
4    201950      Jrue  ...                13                       -1.0
5    203648  Thanasis  ...                 0                       -2.0
6   1626192       Pat  ...                 9                        4.0
7   1627854      Bryn  ...                 0                        2.0

[8 rows x 28 columns]

Bucks - Time - Q1
Bucks - Jogador - Q1
Nets - Time - Q1
Nets - Jogador - Q1

1.   Item da lista
2.   Item da lista